/* black backgroun to top navigation */
.topNav {
    background-color: #333;
    overflow: hidden;
}
/* style the links in nav bar */
.topNav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
/* change color on hover */
.topNav a:hover {
    background-color: #04AA6D;
    color: white;
}
/* color 'active' link */
/*.topNav a.active {*/
/*    background-color: #04AA6D;*/
/*    color: white;*/
/*}*/