@import helper._
@import models.UserCreationForm
@(userForm: Form[UserCreationForm])(implicit request: MessagesRequestHeader)

@main("Update Your Knowledge") {
  <h1>Create New User</h1>
  @form(action = routes.UserController.newUserPost) {
    @inputText(userForm("Email"),Symbol("_showConstraints") -> false)
    @inputPassword(userForm("Password"))
    @inputText(userForm("First Name"))
    @inputText(userForm("Middle Name"))
    @inputText(userForm("Last Name"))
    @CSRF.formField
    <div class="buttons">
      <input type="submit" value="Register">
    </div>
  }
}
