@import helper._
@import models.FactCreateForm
@import controllers.security.AuthMessagesRequest
@(factCreateForm: Form[FactCreateForm])(implicit request: AuthMessagesRequest[AnyContent])

@main("Update Your Knowledge", Some(request.user)) {
  <h1>Create New Fact</h1>
  @form(action = routes.FactController.formCreate) {
    @inputText(factCreateForm("Title"))
    @inputText(factCreateForm("Description"))
    @CSRF.formField
    <div class="buttons">
      <input type="submit" value="Create">
    </div>
  }
}
