@import helper._
@import models.FactCreateForm
@import controllers.security.AuthMessagesRequest
@(factCreateForm: Form[FactCreateForm])(implicit request: AuthMessagesRequest[AnyContent])

@main("Update Your Knowledge", Some(request.user)) {
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-8">
        <figure class="text-center">
  <h1>Create New Fact</h1>
        </figure>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
  @form(action = routes.FactController.formCreate, Symbol("id") -> "fact_create_form") {
    @inputText(factCreateForm("Title"), Symbol("class") -> "form-control")
    @textarea(factCreateForm("Description"), Symbol("class") -> "form-control", Symbol("id") -> "description_text")
    <div id="hidden_ref_div"></div>
    @CSRF.formField
    <div class="buttons">
      <input type="submit" class="btn btn-primary text-white" value="Create" id="fact_form_submit">
    </div>
  }
      </div>
    </div>
  </div>
  <script src="@routes.Assets.versioned("javascripts/fact_create.js")" type="text/javascript"></script>
}
