@import controllers.security.AuthMessagesRequest
@()(implicit request: AuthMessagesRequest[AnyContent])
@main("Not Authorized") {
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <figure class="text-center">
        <h1 class="display-1">Not Authorized</h1>
        <p class="lead">
          You must be logged in to view this page.
        </p>
        </figure>
      </div>

    </div>
    <div class="row">
      <div class="col">
        <figure class="text-center">
          <a class="me-4" href="@routes.UserController.login">Log In</a>
          <a href="@routes.UserController.newUser">Create Account</a>
        </figure>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <figure class="text-center">
        </figure>
      </div>
    </div>
  </div>
}
